
body {
	padding: 2em 0 5em 0;
	background-color: #eee;
}

.container, .masthead, .footer-wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 1600px;
	min-width: 760px;
}

a {
	color: #444;
	text-decoration: none;
}
a:visited {
	color: #333;
}
a:hover {
	color: #000;
	text-decoration: underline;
}

h1 {
	display: none;
}

/*  --  */

.form-wrapper {
	margin-bottom: 2em;
}

.form-wrapper textarea, .form-wrapper .editor {
	padding: .5em;
	width: 100%;
	font-size: 1.1em;
	background-color: #fff;
	border: 1px solid #bbb;
}

.form-wrapper button {
	margin: 1em auto;
	padding: 1em;
	display: block;
}

.form-wrapper .thankyou {
	font-size: 20em;
}

.input-panel textarea, .output-panel textarea, .editor {
	font-family: monospace;
}

.editor {
	font-size: 1.3em;
}

.editor .header {
	font-size: 1.1em;
	font-weight: bold;
}
.editor .tag {
	color: #999;
}
.editor .note-section-wrapper:hover .tag {
	color: #666;
}
.editor .note-section-wrapper li:hover .tag {
	color: #333;
}

/* how could tags be hidden, and then restored to their usual state? */
/*.editor .tag {
		display: none;
}

.editor:hover .tag {
		display: inline;
}*/

/* note link wrapper styles */

.note-link-container {
	list-style-type: none;
	padding-left: 0; /* changed to remove bullet points */
}

.note-link-wrapper div {
	padding: .25em .35em .25em .45em;
	margin: 0 2em 0 2em;
	border-left: 5px solid #fff;
	transition : all 400ms ease-out;
	-webkit-transition : all 400ms ease-out;
	-moz-transition : all 400ms ease-out;
	-o-transition : all 400ms ease-out;
	margin-bottom: .5em; /* changed to remove bullet points */
}

.note-link-wrapper .active {
	border-color: #222;
}

.note-link-wrapper .click {
	color: #0645AD;
	text-decoration: underline;
}

.note-link-wrapper .text {
	color: #111;
	font-weight: bold;
	white-space: nowrap;
}

.note-link-wrapper .fixed,
.note-link-wrapper .timeout {
	background-color: #F8E8DD;
	border-color: #D16C00;
}

.note-link-wrapper .error {
	background-color: #F8DDDD;
	border-color: #D10000;
}
.note-link-wrapper .error .text {}

.note-link-wrapper .active {
	background-color: #F7F7F7;
}

.note-link-wrapper .success {
	 background-color: #F4FDF4;
	 border-color: #00D103;
}

.note-link-wrapper .success .text {}

/* Other */

.hidden {display: none;}
.not-hidden {display: block;}

.progress-bar .bar {
	height: 2em;
	margin: 1em 0 1em 0;
	background-color: #999;
	display: block;
}

#footer {
	font-size: .8em;
	text-align: center;
}
